/buck-out
/.buckconfig.local
/.buckconfig.d
/.envrc.private
/.direnv
/.pytest_cache
__pycache__
.ruff_cache

# Ignore everything under schemas
schemas/**

# Re-allow the directory itself
!schemas/crds

# Re-allow only the BUCK file
!schemas/crds/BUCK

# tests/generated
tests/generated
