apiVersion: apps/v1
kind: Deployment
metadata: # kpt-merge: /whoami
  name: whoami
  annotations:
    internal.kpt.dev/upstream-identifier: 'apps|Deployment|default|whoami'
spec:
  replicas: 2
  selector:
    matchLabels:
      app: whoami
  template:
    metadata:
      labels:
        app: whoami
    spec:
      containers:
        - name: whoami
          image: traefik/whoami
---
apiVersion: v1
kind: Service
metadata: # kpt-merge: /whoami
  name: whoami
  annotations:
    internal.kpt.dev/upstream-identifier: '|Service|default|whoami'
spec:
  selector:
    app: whoami
  ports:
    - protocol: TCP
      port: 80
